@import "overrides";
@import "~bootstrap/scss/bootstrap";

.leaflet-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  transition: 0.5ms linear;
}

.dxc-tooltip {
  z-index: 2000 !important;
}

